.bannerSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: var(--primary-white);

  .middleShadow {
    position: absolute;
    height: 100%;
    width: 100%;
    background: radial-gradient(
      circle,
      #fff8bd 0%,
      rgba(255, 255, 255, 1) 40%,
      rgba(255, 255, 255, 1) 100%
    );
  }
  .infoContent {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    > h1 {
      font-size: 40px;
      font-family: var(--secondary-font);
      font-weight: 400;
      text-align: center;
      color: rgb(30, 30, 30);
    }
    > p {
      font-size: 14px;
      color: #0005;
      width: 300px;
      margin: 10px auto 0;
      text-align: center;
    }
  }
}

.circleImage {
  position: absolute;
  min-height: 700px;
  min-width: 700px;
  height: 90%;
  width: 90%;
  z-index: 10;
  animation: rotation 25s infinite linear;
}
.profileImage{
  height: 400px;
  width: 400px;
}
@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
